<header class="text-center bg-light py-3 container-mt">
    <h2 class="display-4 fw-bold">{{title}}</h2>
</header>

<main>
    <div class="container">
        <div class="row g-4 mb-4">
            <div class="col d-flex justify-content-around">
                <div *ngFor="let latestEvent of latestEvents" style="width: 30%" class="card text-bg-dark mt-3">
                    <div class="card-header fs-2 text-center">{{latestEvent.categories[0]}}</div>
                    <img src={{latestEvent.poster}} class="card-img-top img-size" alt="Event Image">
                    <div class="card-body">
                        <h5 class="card-title">{{latestEvent.title}}</h5>
                        <p class="card-text">{{latestEvent.shortDescription}}</p>
                    </div>
                    <div class="card-footer d-flex justify-content-end">
                        <a [routerLink]="['/moreAboutEvent', latestEvent.id]" class="btn btn-outline-info mx-2">{{buttonDetails}}</a>
                        <a (click)="addToSelected(latestEvent)" class="btn btn-outline-primary">{{buttonAddToSelected}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="footer mt-auto py-3 nav-foot-bg text-center text-white">
    <p class="m-0">{{allRightsReserved}}</p>
</footer>
