<header class="text-center bg-light py-3 container-mt">
    <h2 class="display-4 fw-bold">{{title}}</h2>
</header>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-4">
        <div class="col">
            <div style="width: 350px;" class="card text-bg-dark h-80 mt-3">
                <div class="card-header fs-2 text-center">Concert</div>
                <img src="https://picsum.photos/350/500" class="card-img-top img-size" alt="Event Image 1">
                <div class="card-body">
                    <h5 class="card-title">Event Title 1</h5>
                    <p class="card-text">Short description about the event including name and venue.</p>
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <a href="#" class="btn btn-outline-primary mx-2">{{buttonDetails}}</a>
                    <a href="#" class="btn btn-outline-success">{{buttonAddToSelected}}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer mt-auto py-3 nav-foot-bg text-center text-white">
    <p class="m-0">{{allRightsReserved}}</p>
</footer>